form {
    font-family: "karla", sans-serif;
    font-size:18px;
    font-weight: bold;
    color: #FFF;
    margin:auto;
}

input, select {
    border-radius: 16px;
    padding: 8px;
}

input[type="submit"] {
  background-color: #F4CE14;
  border:none;
  padding: 12px 24px;
  font-family: "karla", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 16px;
  margin:24px;
}