nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  text-transform: uppercase;
}

header {
  display: flex;
  justify-content: space-between;
}

.specials {
  display: flex;
  flex-direction: column;
}

.specials-header {
  display: flex;
  justify-content: space-between;
} 

.specials-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer {
  display:flex;
  justify-content: space-between;
}